*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    color: #777777;
}
.shoes{
    position: absolute;
    top: 10px;
}
#Produtos{
    position: absolute;
    top:45px;
    padding-left: 550px;
    color: #777777;
    font-size: 24px;
   
}
#COLE{
    position: absolute;
    top: 45px;
    padding-left: 890px ;
    color: #777777;
    font-size: 24px;
}
#Out{
    position: absolute;
    top: 45px;
    padding-left: 1100px;
    color: #777777;
    font-size: 24px;
}
h1{
    position: absolute;
   left: 100px;
   font-size: 39px;
   color: #575757;
}
p{
    border: solid 3px white;
}
.caixa{
    position: absolute;
    left: 700px;
    top: 250px;
    width: 466px;
    height: 500px;
    margin:20px;
    border: 3px solid white;
    font-size: 16.5px;
    color: #575757;
    z-index: 10;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    color: #575757;

}
form label{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    color: #575757;
}
#container{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 538px;
    margin: 5px 0;
    color: #575757;
    cursor: pointer;
    margin: 0 100px;

  }
 #Disp{
     display: flex;
     flex-direction: column;
     margin: 10px 100px;
 }


#container-checkbox{
   display: flex;
}
#container-checkbox label {
    padding: 0 100px;
    margin-bottom: 10px;

  }


input[type="checkbox"] {
    width: 20px;
    height: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    left:100px;
    top: 6px;
  
}


#container-checkbox2{
    display: flex;
 }
 #container-checkbox2 label {
     padding: 0 225px;
     position: relative;
     bottom: 33px;
 
   }
 
 
#ola {
     width: 16px;
     height: 16px;
     padding: 0;
     margin: 0;
     cursor: pointer;
     position: absolute;
     left: 205px;
    top: 237px;
   
 }

 #container-checkbox3{
    display: flex;
 }
 #container-checkbox3 label {
     padding: 0 367px;
     position: relative;
     bottom: 61px;
     color: #777777;
 
   }
 
  #Fre{
     width: 16px;
     height: 16px;
     padding: 0;
     margin: 0;
     cursor: pointer;
     position: absolute;
     left: 345px;
top:237px;
   
 }

 
    #Nome{
        display: flex;
        flex-direction: column;
        margin: 0 100px;
        position: relative;
    bottom:  50px;
    font-size: 18px;
    color: #777777;

    }

    #basic{
        display: flex;
        flex-direction:column ;
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 30px;
       left: 100px;
    }

    #ba{
        display: flex;
        flex-direction: column;
       position: relative;
       bottom:  55px;
       left: 125px;
    }

    #premium{
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 78.3px;
        left: 205px;
    }
    #pre{
        display: flex;
        flex-direction: column;
       position: relative;
       bottom:  103px;
       left:230px;
    }

    #Extra{
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 127px;
        left: 340px;
    }
    #ex{
        display: flex;
        flex-direction: column;
       position: relative;
       bottom:  151px;
       left: 365px;
       
    }

    #Mensagem1{
        display:flex ;
        flex-direction: column;
        width: 121.96px;
        height: 21px;
        color: #777777;
        position: relative;
        bottom: 140px;
        left: 100px;

    }
    #Area{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom:120px;
        left: 100px;
        width: 536.64px;
        height: 78px;
        font-size: 18px;
    }
    #curr{
        display: flex;
        flex-direction:column;
        font-size: 16px;
        color: #777777;
        position: relative;
     bottom: 100px;
     left: 100px;
    }
    #avatar{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 125px;
        left: 180px;
    }
    #bu{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 90px;
        left: 100px;
         width: 537px;
        height: 33px;
        background-color: #C2185B;
        color: white;
        font-size: 20px;
       align-items: center;
    }